body {
	background: grey;
}
h2 {
	font-family: 'Russo One', sans-serif;
	font-size: 300%;
}
h4, h5 {
	font-family: 'Russo One', sans-serif;

}
.col-12 {
	margin: 0 auto;
	text-align: center;
}
.col-6 {
	margin: 0 auto;
	text-align: center;
}
.carousel-inner {
	width: 100%;
	height: 400px;
}
.carousel-item {
	width: 100%;
	height: 100%;
}